.row {
  cursor: pointer;
  border: 1px solid lightgray;
}

.row:hover {
  background-color: whitesmoke;
}

.unavailable {
  opacity: 0.6;
  cursor: unset;
}

.selected {
  background-color: #0971f1;
  color: white;
}

.selected:hover {
  background-color: #095af1;
}

.cell {
  padding: 10px;
  text-align: left;
}

.cell:last-child {
  text-align: right;
}

.statusAvailable {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: limegreen;
  border: 1px solid white;
  border-radius: 100%;
}
